<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>蜂眼主机计算环境安全监控平台V1.0</title>
    <!--<title>华安服主机和终端监固系统V2.0</title>-->
    <!--<title>蜂眼主机计算环境安全监控平台V1.0</title>-->
    <link rel="shortcut icon" href="login_static/img/logo_title.png">
    <!--<link rel="shortcut icon" href="login_static/img/logo_huaan.png">-->
    <link rel="stylesheet" href="login_static/css/bootstrap.min.css">
    <link rel="stylesheet" href="login_static/css/ele.min.css">
    <link rel="stylesheet" href="login_static/css/sweetalert2.min.css">
    <link rel="stylesheet" href="login_static/css/login.css">
    <script src="login_static/js/vue.min.js"></script>
    <script src="login_static/js/ele.min.js"></script>
    <script src="login_static/js/jquery-3.1.0.min.js"></script>
    <script src="login_static/js/sweetalert2.min.js"></script>
</head>
<body>

<div class="login-wrapper" id="app">
    <!--<div class="login-background">-->
        <!--<img src="login_static/img/bg.jpg" alt="">-->
    <!--</div>-->
    <div class="login-login">
        <img src="login_static/img/logo.png" alt="">
        <!--<img src="login_static/img/logo_huaan.png" alt="" style="width:150px;height: 150px">-->
    </div>
    <div class="login-main">
        <div class="login-main-wrapper">
            <div class="login-font">
                <img src="login_static/img/font1.png" alt="">
            </div>
            <div class="login-login-wrapper">
                <img src="login_static/img/kuang2.png" alt="">
                <div class="login_title">
                    <!--<span>华安服主机和终端监固系统V2.0</span>-->
                    <!--<span>蜂眼主机计算环境安全监控平台V1.0</span>-->
                    <span>蜂眼主机计算环境安全监控平台V1.0</span>
                </div>
                <div class="login-input-wrap">
                    <div class="login-input-postion">
                        <div class="login-input-cell">
                            <img src="login_static/img/ico_1.png" alt="">
                            <input type="text" v-model="loginname" placeholder="请输入用户名" @keyup.enter="login">
                        </div>
                        <div class="login-input-cell">
                            <img src="login_static/img/ico_2.png" alt="">
                            <input type="password" id="mypassword" v-model="passwd" placeholder="请输入密码" @keyup.enter="login" autocomplete="off">
                        </div>
                    </div>
                    <span class="login-btn" @click="login">
                        <span>登</span>
                        <span>录</span>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="login-footer">
        <!--<input type="text" style="background: transparent">-->
        <span>©2014-2017 北京零平数据处理有限公司™版权所有</span>
        <!--<span>©2014-2017 重庆华安服科技有限公司™版权所有</span>-->
    </div>

    <form method="post" action="/index.php" id="loged" ref="loged">
        <input type="text" name="token" :value="token" hidden />
        <input type="text" name="role" :value="role" hidden />
    </form>

    <!-- 上传块 -->
    <div class="container" :class="{'upload-container-active': uploadActive ? true : false}">
        <div class="upload-wrapper" :class="{'upload-wrapper-active': uploadActive ? true : false}">

            <el-upload class="upload-demo" drag action="/login/uplodLicense" :show-file-list="false" :before-upload="uploadBefore" :on-success="uploadSuccess" :on-progress="uploadProgress">
                <i class="el-icon-upload"></i>
                <div class="el-upload__text">请将lisence文件拖到此处，或<em>点击上传</em></div>
                <el-progress :percentage="progress_value" :text-inside="false" v-show="progressActive" :status="progressStatus"></el-progress>
            </el-upload>
            <button type="button" aria-label="Close" class="el-message-box__headerbtn" @click="close"><i class="el-message-box__close el-icon-close"></i></button>
        </div>
    </div>

    <!-- 主机列表 -->

    <div class="table-shadow" :class="{'table-shadow-show' : hostListActive ? true : false}"></div>
    <div class="table-container" :class="{'table-container-show' : hostListActive ? true : false}">
        <div class="table-wrapper">
            <h4 class="table-title">请在如下主机中删除 {{num}} 台主机：
                <!--<span style="float: right">-->
                  <!--<button class="import_btn">-->
                        <!--批量删除-->
                  <!--</button>-->
                <!--</span>-->
                <button type="button" aria-label="Close" class="el-message-box__headerbtn" @click="closeHostList"><i class="el-message-box__close el-icon-close"></i></button>
            <h4>
            <el-table
                    ref="multipleTable"
                    :data="tableData"
                    tooltip-effect="dark"
                    style="width: 100%"
                    border
                    @selection-change="handleSelectionChange">
                <el-table-column
                        type="selection">
                </el-table-column>
                <!--<el-table-column-->
                        <!--label="日期">-->
                    <!--<template slot-scope="scope">{{ scope.row.date }}</template>-->
                <!--</el-table-column>-->
                <el-table-column
                        prop="name"
                        label="主机名">
                </el-table-column>
                <el-table-column
                        prop="ip"
                        label="IP"
                        show-overflow-tooltip>
                </el-table-column>
                <el-table-column
                        prop="web_version"
                        label="系统类型"
                        show-overflow-tooltip>
                </el-table-column>
                <el-table-column label="操作">
                    <template slot-scope="scope">
                        <button type="button" class="edit-btn hvr-sweep-to-right" @click="delById(scope.row)">
                            删除
                        </button>
                    </template>
                </el-table-column>
            </el-table>
            <!--<div class="table-pagination">-->
                <!--<el-pagination-->
                        <!--layout="prev, pager, next, total, jumper"-->
                        <!--@current-change="pageChange"-->
                        <!--:total="total">-->
                <!--</el-pagination>-->
            <!--</div>-->
        </div>
    </div>

    <!-- loading圈圈 -->
    <div class="loading-container" v-show="loadingActive">
        <div class="el-loading-spinner">
            <svg viewBox="25 25 50 50" class="circular">
                <circle cx="50" cy="50" r="20" fill="none" class="path"></circle>
            </svg>
            <p class="el-loading-text">加载中...</p>
        </div>
    </div>

</div>
<script src="login_static/js/app.js"></script>
</body>
</html>